@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));
@theme {
  /* typography */
  --fs--2: clamp(0.6944rem, 0.6573rem + 0.1586vw, 0.8rem);
  --fs--1: clamp(0.8333rem, 0.7746rem + 0.2504vw, 1rem);
  --fs-0: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  --fs-1: clamp(1.2rem, 1.0724rem + 0.5446vw, 1.5625rem);
  --fs-2: clamp(1.44rem, 1.2593rem + 0.7709vw, 1.9531rem);
  --fs-3: clamp(1.728rem, 1.4768rem + 1.0718vw, 2.4414rem);
  --fs-4: clamp(2.0736rem, 1.7292rem + 1.4695vw, 3.0518rem);
  --fs-5: clamp(2.4883rem, 2.0213rem + 1.9927vw, 3.8147rem);

  /* spacing */
  --space-3xs: clamp(0.25rem, 0.228rem + 0.0939vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.456rem + 0.1878vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.684rem + 0.2817vw, 0.9375rem);
  --space-s: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.368rem + 0.5634vw, 1.875rem);
  --space-l: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7359rem + 1.1268vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6479rem + 1.5023vw, 5rem);
  --space-3xl: clamp(6rem, 5.4718rem + 2.2535vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.118rem + 0.5634vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.346rem + 0.6573vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.6919rem + 1.3146vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3838rem + 2.6291vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7676rem + 5.2582vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.4718rem + 2.2535vw, 2.5rem);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

body {
  background-color: #0b0909;
  color: white;
}

.hero {
  background-image: url(./assets/columns.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fc-center {
  @apply flex flex-col items-center;
}

.carousel-container {
  /* width:100%; */
  overflow: hidden;
  background-color: black;
  padding: 20px 0;
}

.card {
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* timeline component css */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

.container :nth-child(1) {
  animation-delay: 0s;
}
.container :nth-child(2) {
  animation-delay: 1s;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container :nth-child(1) {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: 20px;
  top: 32px;
  z-index: 10;
}

.right-container :nth-child(1) {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .right-container {
    left: 0;
  }
  .left-container :nth-child(1),
  .right-container :nth-child(1) {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid white;
    border-left: 0;
    left: -15px;
  }
}

.project-details {
  background-image: url(../src/assets/experiencesvg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 1px solid white; */
}
.experience {
  background-image: url(../src/assets/pdetails.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 1px solid white; */
}

body {
  font-family: "Inconsolata";
}


